<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlebank.dao.MPartyRoleDao" >
  <resultMap id="BaseResultMap" type="com.zlebank.model.MPartyRole" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PARTY_ID" property="partyId" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="PERIOD_START" property="periodStart" jdbcType="TIMESTAMP" />
    <result column="PERIOD_END" property="periodEnd" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PARTY_ID, TYPE, CREATED_TIME, PERIOD_START, PERIOD_END
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_M_PARTY_ROLE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_M_PARTY_ROLE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zlebank.model.MPartyRole" >
    insert into T_M_PARTY_ROLE (ID, PARTY_ID, TYPE, 
      CREATED_TIME, PERIOD_START, PERIOD_END
      )
    values (#{id,jdbcType=VARCHAR}, #{partyId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{periodStart,jdbcType=TIMESTAMP}, #{periodEnd,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zlebank.model.MPartyRole" >
    insert into T_M_PARTY_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="partyId != null" >
        PARTY_ID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="createdTime != null" >
        CREATED_TIME,
      </if>
      <if test="periodStart != null" >
        PERIOD_START,
      </if>
      <if test="periodEnd != null" >
        PERIOD_END,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="partyId != null" >
        #{partyId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="periodStart != null" >
        #{periodStart,jdbcType=TIMESTAMP},
      </if>
      <if test="periodEnd != null" >
        #{periodEnd,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlebank.model.MPartyRole" >
    update T_M_PARTY_ROLE
    <set >
      <if test="partyId != null" >
        PARTY_ID = #{partyId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="periodStart != null" >
        PERIOD_START = #{periodStart,jdbcType=TIMESTAMP},
      </if>
      <if test="periodEnd != null" >
        PERIOD_END = #{periodEnd,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlebank.model.MPartyRole" >
    update T_M_PARTY_ROLE
    set PARTY_ID = #{partyId,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      PERIOD_START = #{periodStart,jdbcType=TIMESTAMP},
      PERIOD_END = #{periodEnd,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>